<div class="card bg-light ml-4" style="max-width: 640px;">
  <div class="card-header bg-primary text-white">
    Create Employee
  </div>

  <div class="card-body">
    <form #employeeForm="ngForm" (ngSubmit)="saveEmployee(employeeForm)">
      <!-- FULL NAME -->
      <div class="form-group">
        <label for="fullName">Full Name</label>
        <input
          type="text"
          class="form-control"
          id="fullName"
          name="fullName"
          [(ngModel)]="fullName"
          placeholder="Enter employee name"
        />
      </div>
      <!-- EMAIL -->
      <div class="form-group">
        <label for="email">Email Address</label>
        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          [(ngModel)]="email"
          aria-describedby="emailHelp"
          placeholder="Enter email"
        />
      </div>
      <!-- PHONE -->
      <div class="form-group">
        <label for="phoneNumber">Phone number</label>
        <input
          type="text"
          class="form-control"
          id="phoneNumber"
          name="phoneNumber"
          [(ngModel)]="phoneNumber"
          placeholder="Enter phone number"
        />
      </div>

      <!-- CONTACT PREFERENCE RADIO BUTTONS -->
      <div class="form-group">
        <div>
          <label>Contact Preference</label>
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="contact"
            id="email"
            value="email"
            [(ngModel)]="contactPreference"
          />
          <label class="form-check-label" for="male">Email</label>
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="contact"
            id="phone"
            value="phone"
            [(ngModel)]="contactPreference"
          />
          <label class="form-check-label" for="female">Phone</label>
        </div>
      </div>

      <!-- GENDER RADIO BUTTONS -->
      <div class="form-group">
        <div>
          <label>Gender</label>
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="gender"
            value="male"
            [(ngModel)]="gender"
          />
          <label class="form-check-label" for="male">Male</label>
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="gender"
            value="female"
            [(ngModel)]="gender"
          />
          <label class="form-check-label" for="female">Female</label>
        </div>
      </div>
      <!-- IS ACTIVE CHECKBOX -->
      <div class="form-group">
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="checkbox"
            name="isActive"
            value="isActive"
            [(ngModel)]="isActive"
          />
          <label class="form-check-label" for="male">Is Active</label>
        </div>
      </div>
      <!-- DEPARTMENT DROPDOWN LIST -->
      <div class="form-group">
        <div class="dropdown">
          <label for="department">Department</label>
          <select
            id="department"
            name="department"
            [(ngModel)]="department"
            class="form-control"
          >
            <option
              *ngFor="let department of departments"
              [value]="department.id"
            >
              {{ department.name }}
            </option>
          </select>
        </div>
      </div>
      <!-- DATE OF BIRTH -->
      <div class="row">
        <div class="form-group col-md-4">
          <label for="dateOfBirth">Date of Birth</label>
          <input
            type="text"
            bsDatepicker
            [bsConfig]="datePickerConfig"
            placement="right"
            class="form-control"
            id="dateOfBirth"
            name="dateOfBirth"
            [(ngModel)]="dateOfBirth"
          />
        </div>
      </div>

      <button type="submit" class="btn btn-primary">Save</button>
    </form>
    {{ employeeForm.value | json }}
  </div>
</div>
