<div class="form-group">
  <input
    type="text"
    class="form-control ml-2"
    placeholder="Search by name"
    style="width: 300px;"
    [(ngModel)]="searchTerm"
  />
</div>
<div
  class="card bg-light mb-3 ml-2"
  *ngFor="let employee of filteredEmployees"
  style="min-width: 440px; max-width: 640px;"
>
  <app-display-employee
    [employee]="employee"
    [searchTerm]="searchTerm"
    (notifyDelete)="onDeleteNotification($event)"
  ></app-display-employee>
</div>
<div *ngIf="error" class="ml-2">{{ error }}</div>
